<footer class="site-footer pt-5 pb-4 mt-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3">
        <h5>GYC Sierra Leone</h5>
        <p>Building an emerging society of young leaders for sustainable development since 2017.</p>
        <div class="d-flex gap-2 social-row">
          <span class="social-pill"><i class="bi bi-facebook"></i></span>
          <span class="social-pill"><i class="bi bi-twitter-x"></i></span>
          <span class="social-pill"><i class="bi bi-instagram"></i></span>
          <span class="social-pill"><i class="bi bi-linkedin"></i></span>
          <span class="social-pill"><i class="bi bi-youtube"></i></span>
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <h6>Quick Links</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/programs">Programs</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/news">News & Events</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2">
        <h6>Programs</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="/programs/climate-action">Climate Action</a></li>
          <li><a href="/programs/sdg-advocacy">SDG Advocacy</a></li>
          <li><a href="/programs/gender-equality">Gender Equality</a></li>
          <li><a href="/programs/youth-employment">Youth Employment</a></li>
          <li><a href="/programs/governance">Good Governance</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2">
        <h6>Get Involved</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="/get-involved/volunteer">Volunteer</a></li>
          <li><a href="/get-involved/partner">Partner With Us</a></li>
          <li><a href="/donate">Donate</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-3">
        <h6>Contact</h6>
        <p class="mb-1">41 MacDonald Street, Freetown</p>
        <p class="mb-1">+232 78 277 377</p>
        <p class="mb-0">info@gycsl.org</p>
      </div>
    </div>
    <div class="footer-bottom d-flex flex-column flex-md-row justify-content-between gap-2 mt-4 pt-4 border-top">
      <small>&copy; <%= currentYear %> Global Youth Counterpart for Sustainable Development Sierra Leone. All Rights Reserved.</small>
      <small>Privacy Policy | Terms of Use | Sitemap</small>
    </div>
  </div>
</footer>
