<section class="py-5">
  <div class="container text-center">
    <h1 class="display-6">Server Error</h1>
    <p>Something went wrong while loading this page.</p>
    <a href="/" class="btn btn-sdg">Back to home</a>
  </div>
</section>
